$bg-color: hsl(0, 0%, 91%);
$secondary-color: hsl(21, 12%, 23%);

$border-radius: .5rem;
$border-radius-sm: .25rem;
$inner-border: 3px solid white;
$inner-border-sm: 2px solid white;
$outer-border: 0 0 0 3px $secondary-color;
$outer-border-sm: 0 0 0 2px $secondary-color;
$border-shadow: 0 3px 6px 3px hsla(20, 7%, 26%, 0.3);
$shadow: 0 3px 6px hsla(20, 7%, 26%, 0.3);

$tranparency: url("/src/assets/img/transparency.png");

@mixin double-border {
  border-radius: $border-radius;
  border: $inner-border;
  box-shadow: $outer-border;
}
  
@mixin double-border-shadow {
  border-radius: $border-radius;
  border: $inner-border;
  box-shadow: $outer-border, $border-shadow;
}

@mixin double-border-sm {
  border-radius: $border-radius-sm;
  border: $inner-border-sm;
  box-shadow: $outer-border-sm;
}

@mixin transparent-color {
  background: linear-gradient(currentColor, currentColor), $tranparency;
  background-size: .5rem;
  image-rendering: pixelated;
}

@mixin transparent {
  background: $tranparency;
  image-rendering: pixelated;
}
